<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="custom-footer-layout">
            <div class="footer-logo">
                <img src="{{ '/assets/images/tuwien-informatics-logo.svg' | relative_url }}"
                    alt="Logo of TU Wien Informatics">
            </div>

            <!-- Right side: Disclaimer and Links -->
            <div class="footer-info">
                <p class="footer-disclaimer">
                    Offenlegung (§25 MedienG) Inhaber der Website ist das Institut für Logic and Computation an der
                    Technischen Universität Wien, 1040 Wien. Die TU Wien distanziert sich von den Inhalten aller extern
                    gelinkten Seiten und übernimmt diesbezüglich keine Haftung. – <a
                        href="http://www.tuwien.ac.at/impressum/disclaimer/">Disclaimer</a> – <a
                        href="https://www.tuwien.ac.at/dle/datenschutz_und_dokumentenmanagement/datenschutz/unterstuetzung_und_services/ds_erklaerung_websites/">Datenschutzerklärung</a>
                </p>
            </div>
        </div>
    </div>
</footer>